<!-- Navbar -->
<nav class="blue lighten-1 z-depth-0" role="navigation"> 
  <div class="nav-wrapper container"> 
    <%= link_to "EduApp", all_path, class: "brand-logo"%>
    <ul class="right hide-on-med-and-down">  
      <li><%= link_to "All", all_path %></li>
      <li><%= link_to "Professors", professors_path %></li>
      <li><%= link_to "Subjects", classes_path %></li> 
      <li><%= link_to "Sign Out #{get_username_from_email(current_user.email)}", destroy_user_session_path, method: :delete %></li> 
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><%= link_to "All", all_path %></li>
      <li><%= link_to "Professors", professors_path %></li>
      <li><%= link_to "Subjects", classes_path %></li> 
      <li><%= link_to "Sign Out #{get_username_from_email(current_user.email)}", destroy_user_session_path, method: :delete %></li> 
    </ul>
    
    <a href="#home" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
  </div>
</nav>
